<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="/css/commonCss.js"></script>
<script type="text/javascript" src="/js/commonJs.js"></script>
<link rel="stylesheet" href="/plugins/layui/css/layui.css">
<head>
    <meta charset="UTF-8">
    <title>广西桂华丝绸有限公司生产管理系统</title>
</head>
<style type="text/css">
    .closeTab:hover{
        border-radius: 7px;
        background: red;
    }
    #main,.tab-pane{
        width: 100%;
        height: 100%;
    }

</style>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">
                <img src="/pictures/logo.png" style="width: 45px;height: 40px"></img>
                <a  target="_blank" href="http://www.gxsilk.com/" style="color: white;line-height: 40px">广西桂华丝绸有限公司</a>
            </div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        <span  th:text="${session.user.depName}"/>-<span  th:text="${session.user.name}"/>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">个人信息</a></dd>
                        <dd><a href="">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/login/logout">退出</a>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll" id="leftMenu">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div id="main" style="padding: 15px;">
                <table style="width: 100%; height: 100%">
                    <tr style="height: 41px">
                        <td>
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">
                                    主页 </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="myTabContent" class="tab-content"
                                 style="width: 100%; height: 100%">
                                <div class="tab-pane fade in active" id="home" style="width: 100%;height: 100%">
                                    <iframe id="iframeAll"   marginheight="0" marginwidth="0" frameborder="0" scrolling="true" style="width: 100%;height: calc(100%) ">

                                    </iframe>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="layui-footer" style="text-align: center">
            <!-- 底部固定区域 -->
            2020©如皋志霆机械
        </div>

    </div>
</body>
<script src="/plugins/layui/layui.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url : 'getLeftMenu',
            type : "post",
            dataType : "json",
            contentType : "application/json",
            success : function(res) {
                console.log(res)
                var menuHtml = '';
                menuHtml += '<ul class="layui-nav layui-nav-tree"  lay-filter="test">'
                for(var i = 0;i<res.length;i++){
                    var children = res[i].children;
                    menuHtml+='<li class="layui-nav-item">';
                    menuHtml+='<a class="" href="javascript:;">'+res[i].menu_name+'</a>';
                    if(children.length>0){
                        menuHtml+='<dl class="layui-nav-child">';
                        for(var j = 0;j<children.length;j++){
                            /*if(children[j].menu_url){
                                menuHtml+='<dd><a href="'+children[j].menu_url+'">';
                            }else{

                            }*/
                            menuHtml+='<dd><a href="javascript:;" onclick="menuClick(\''+children[j].menu_url+'\',\''+children[j].menu_name+'\')">';
                            if(children[j].menu_icon){
                                menuHtml+=children[j].menu_icon;
                            }
                            menuHtml+=children[j].menu_name+'</a></dd>';
                        }
                        menuHtml+='</dl>';
                    }
                    menuHtml+='</li>';
                }
                menuHtml+='</ul>';
                $("#leftMenu").html(menuHtml);
                layui.use('element', function(){
                    var element = layui.element;
                });
            }
        });

    })
    function menuClick(url, title) {

        $("#"+title+"TAB,#"+title).remove();
        var temp = "<li  id='"+title+"TAB' >"
            + "<a href='#"+ title +"' data-toggle='tab'>" + title
            + "&nbsp;";
        temp+="<i style='font-size:14px' onclick='tabClose(\""+title+"\")' class='closeTab layui-icon layui-icon-close'></i>";
        temp+="</a>" + "</li>";
        $("#myTab").append(temp);
        temp = '<div class="tab-pane fade" id="'+title+'">'
            + '<iframe id="'
            + title
            + 'Iframe"  marginheight="0" marginwidth="0" frameborder="0" scrolling="true" src="'
            + url + '" style="width:100%;height:100%;"></iframe>'
            + '</div>';
        $("#myTabContent").append(temp);
        $('#myTab a:last').tab('show')
    }
    function tabClose(title){
        $("#"+title+"TAB,#"+title).remove();
        $('#myTab a:last').tab('show')
    }

</script>
</html>