<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxt.ssgl.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cxt.ssgl.entity.User" >
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="age" property="age" javaType="INT"/>
        <result column="tel" property="tel" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        name,sex,age,tel
    </sql>
    <select id="findUserInfo" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM base_user
    </select>

    <resultMap id="DepartmentMap" type="com.cxt.ssgl.entity.Department" >
        <result column="depid" property="depid" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getDepInfo" resultMap="DepartmentMap"  >
        SELECT
        depid,name
        FROM base_dep
    </select>
</mapper>